<form asp-action="Login" method="post">
    <input name="Email" placeholder="Email" />
    <input name="Senha" placeholder="Senha" type="password" />
    <button type="submit">Entrar</button>
</form>
